<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asktao.ums.infrastructure.mapper.RoleMapper">


    <select id="listRoleNameByUid" resultType="java.lang.String">
        select name
        from t_role r left join t_admin_role ar on r.id = ar.role_id
        where ar.admin_id = #{uid}
    </select>
    <select id="listRoleByUid" resultType="com.asktao.ums.domain.role.entity.Role">
        select r.id, r.name, r.description, r.create_time
        from t_role r left join t_admin_role ar on r.id = ar.role_id
        where ar.admin_id = #{uid}
    </select>
</mapper>